.main {
  background: linear-gradient(0deg, #211f1f 4.66%, rgba(0, 0, 0, 0) 76.78%);
  background-size: cover;
  height: 100%;
  padding-bottom: 150px;

  .btns_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main_btn_container {
    display: flex;
    justify-content: start;
    align-items: center;

    @media (max-width: 992px) {
      display: none;
    }

    .play {
      background-color: transparent;
      border-style: none;
      color: #ffffff;
      width: 100px;
      height: 40px;
      text-align: right;
      font-size: 24px;

      &:hover {
        font-size: 35px;
      }

      @media (max-width: 1200px) {
        font-size: 20px;
      }
    }

    .movies {
      background-color: transparent;
      border-style: none;
      color: #ffffff;
      width: 100px;
      height: 40px;
      text-align: left;
      font-size: 24px;

      &:hover {
        font-size: 35px;
      }

      @media (max-width: 1200px) {
        font-size: 20px;
      }
    }
  }

  .search_input {
    background: #808080;
    opacity: 0.5;
    height: 60px;
    width: 700px;
    padding: 0 30px;

    @media (max-width: 1200px) {
      height: 30px;
      width: 500px;
    }

    @media (max-width: 992px) {
      width: 400px;
    }

    @media (max-width: 768px) {
      width: 450px;
    }

    @media (max-width: 576px) {
      width: 350px;
      height: 25px;
    }

    @media (max-width: 480px) {
      width: 280px;
      height: 25px;
    }

    @media (max-width: 340px) {
      width: 250px;
      height: 25px;
    }

    &::placeholder{
      color: #ffffff;
      text-align: center;
      font-size: 20px;

      @media (max-width: 1200px) {
        font-size: 16px;
      }

      @media (max-width: 992px) {
        font-size: 12px;
      }

      @media (max-width: 576px) {
        font-size: 10px;
      }
    }

    &:focus-visible {
      outline: none;
      color: #ffffff;
    }
  }

  .main_icons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .main_info {
    padding-top: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 992px) {
      padding-top: 150px;
    }

    @media (max-width: 480px) {
      padding-top: 50px;
    }

    .main_new_movie {
      @include font_style (105px, #ffffff);
      text-align: center;
      color: #ffffff;
      margin-bottom: 200px;

      @media (max-width: 1200px) {
        @include font_style (85px, #ffffff);
        margin-bottom: 100px;
      }

      @media (max-width: 992px) {
        @include font_style (75px, #ffffff);
      }

      @media (max-width: 768px) {
        @include font_style (60px, #ffffff);
      }

      @media (max-width: 576px) {
        @include font_style (50px, #ffffff);
        margin-bottom: 70px;
      }

      @media (max-width: 480px) {
        @include font_style (40px, #ffffff);
        margin-bottom: 50px;
      }
    }

    .main_title {
     @include font_style (65px, #ffffff);
      text-align: center;
      color: #ffffff;

      @media (max-width: 1200px) {
        @include font_style (45px, #ffffff);
      }

      @media (max-width: 992px) {
        @include font_style (35px, #ffffff);
      }

      @media (max-width: 768px) {
        @include font_style (30px, #ffffff);
      }

      @media (max-width: 576px) {
        @include font_style (25px, #ffffff);
      }
    }

    .main_text {
      @include font_text (30px, #ffffff);
      text-align: center;
      color: #ffffff;

      @media (max-width: 1200px) {
        @include font_text (25px, #ffffff);
      }

      @media (max-width: 992px) {
        @include font_text (20px, #ffffff);
      }

      @media (max-width: 768px) {
        @include font_text (18px, #ffffff);
      }

      @media (max-width: 576px) {
        @include font_text (16px, #ffffff);
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}