@import "~swiper/swiper-bundle.min.css";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_containers.scss";
@import "~bootstrap/scss/reboot";

@import "header";
@import "popular";
@import "new";
@import "premiere";
@import "mixins";
@import "fonts";
@import "popup";