.movie_container {
  background: #211f1f;
  padding: 40px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .movie_title {
    @include font_style(35px, #ffffff);
    
    @media (max-width: 768px) {
      @include font_style(25px, #ffffff);
    }
  }
}

  .film-slide {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 20px;

    min-width: 300px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 1200px) {
      min-width: 250px;
    }

    @media (max-width:768px) {
      min-width: 160px;
      margin-right: 10px;
    }
  }

  .film_info {
    width: 100%;
    height: 200px;
    background-color: #2b2929;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 30px;
    padding-top: 30px;

    @media (max-width: 1200px) {
      height: 150px;
      padding-top: 20px;
    }

    @media (max-width: 576px) {
      height: 110px;
    }
  }

  .film_name {
    @include font_style(30px, #ffffff);
    text-align: center;
    padding: 0 10px 0;

    @media (max-width: 1200px) {
      @include font_style(23px, #ffffff);
    }

    @media (max-width: 768px) {
      @include font_style(16px, #ffffff);
    }

    @media (max-width: 576px) {
      @include font_style(14px, #ffffff);
    }
  }

  .more {
    background: transparent;
    border-style: none;
    @include font_text(25px, #808080);
    width: 90px;

    &:hover {
      color: #ffffff;
    }

    @media (max-width: 1200px) {
      @include font_text(20px, #808080);
    }

    @media (max-width: 768px) {
      @include font_text(14px, #808080);
      width: 70px;
    }

    @media (max-width: 576px) {
      @include font_text(12px, #808080);
    }
  }

.item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow-x: auto;

  &::-webkit-scrollbar {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(110, 102, 102);
    border-radius: 10px;
  }
}


.movie_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}