.popup_bg {
  display: none;
}

.popup_bg.active {
  display: block;

  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 100%;
  height: 100vh;

  background: linear-gradient(0deg, #474646 4.66%, rgba(235, 225, 225, 0) 76.78%);
}

.popup {
  display: block;

  position: relative;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  background: #D3D3D3;

  width: 1000px;

  padding: 0 30px 40px;

  box-shadow: 10px 10px 10px 0px;

  @media (max-width: 1200px) {
    width: 800px;
  }

  @media (max-width: 992px) {
    width: 700px;
  }

  @media (max-width: 768px) {
    width: 550px;
  }

  @media (max-width: 576px) {
    width: 400px;
    padding: 0 20px 30px;
  }

  @media (max-width: 480px) {
    width: 320px;
  }
}

.popup_info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup_title {
  @include font_style(65px, 46px);
  text-align: center;
  color: #000000;

  @media (max-width: 992px) {
    @include font_style(50px, 36px);
  }

  @media (max-width: 768px) {
    @include font_style(35px, 32px);
  }

  @media (max-width: 576px) {
    @include font_style(25px, 16px);
  }
}

.popup_text {
  @include font_style(25px, 26px);
  text-align: center;
  color: #000000;
  margin-right: 20px;

  @media (max-width: 992px) {
    @include font_style(20px, 24px);
  }

  @media (max-width: 992px) {
    @include font_style(18px, 20px);
  }

  @media (max-width: 576px) {
    @include font_style(11px, 16px);
  }
}


.popup_img {
  width: 400px;

  @media (max-width: 1200px) {
    width: 300px;
  }

  @media (max-width: 992px) {
    width: 250px;
  }

  @media (max-width: 768px) {
    width: 200px;
  }

  @media (max-width: 576px) {
    width: 150px;
  }
}

.close_container {
  display: flex;
  justify-content: flex-end;

  margin: 20px 30px;

  @media (max-width: 768px) {
    margin: 15px 0;
  }
}

.fa.fa-window-close-o {
  font-size: 50px;
  color: #211f1f;

  @media (max-width: 992px) {
    font-size: 40px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 576px) {
    font-size: 20px;
  }
}